.publications-wrapper{
    background-color: $gray-bg-color;

@media screen and (min-width: 375px) {
    .container{
        padding: 0 30px;
    }
}
}
.publications{
    max-width: 1630px;
    margin: 0 auto;
    padding: 25px 20px ;
    
    

    &__wrapper{

        @include flex-spasing(1, 20px);
       
        @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        @include flex-spasing(2, 20px);
        }
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            @include flex-spasing(3, 22px);
        }

    }
    &__box{
        background-color: white;
        // border: 1px solid rgb(94, 255, 0);
        border-radius: 8px;
        overflow: hidden;

        @media screen and (min-width: 768px) {
        width: 50%;
        flex-grow: 1;
         }
        @media screen and (min-width: 1024px) {
        width: 33.33%;
         }
        }

    &__wrapper-img{
            height: 200px;
            overflow: hidden;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    &__wrapper-txt{
        padding: 30px;
        & a{
           text-decoration: none;
            color: $active-regular-color;
            font-weight: 14px;
            font-weight: 700;
            
        }
        & h3{padding-bottom: 15px;

        }
        & a:hover {
            color: $accent-color;
            transition: color 0.3s ease;
        }
        p {
            font-size: 14px;
            font-weight: normal;
            line-height: 22px;
        }
       
    }    
}
.read-in-min{
     position: relative;
     text-transform: uppercase;
     font-size: 12px;
     font-weight: 700;
     color: $gray-bg-text-color;
     display: block;
     padding-bottom: 30px;
 }

.read-in-min::after {
     content: "";
     display: block;
     top: 30px;
     left: 0;
     width: 100%;
     height: 4px;
     background-color: $gray-separator-color;
     position: absolute;
 }
.title{
     &__text{
     @include text-gradient;
     font-size: 38px;
     font-weight: 700;
     margin-bottom: 20px;
     margin-top: 10px;
     }
   }