.team {
    & .container{
        padding: 0 15px;
    }    
    &__title {
        @include text-gradient;
        font-size: 38px;
        font-weight: 700;
        padding-bottom: 15px;
    }
    &__text p{
        margin-bottom: 22px;
    }

    &__img {
        height: 500px;
        @media screen and (min-width: 1920px) {
        height: 320px;
        }
        @media screen and (min-width: 1024px) {
        width: 400px;
        flex-shrink: 0;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__textbox {
        border-radius: 12px;
        margin-bottom: 40px;
        background: $gray-bg-color;
        overflow: hidden;
        @media screen and (min-width: 1024px){
            display: flex;
        }
    }
    &__text {
        padding: 30px;
        @media screen and (min-width: 1024px) {
                flex-grow: 1;
            }
    }
   
}

// .swiper-wrapper{

// }
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 16px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 16px));
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
}