$main-color:  #323264;

$main-regular-color: rgba(50, 50, 100, 1);
$main-alt-color: rgba(70, 70, 110, 1);
$main-soft-color: rgba(104, 104, 135, 1);
$accent-color:rgba(240, 20, 90, 1);
$active-regular-color: rgba(36, 163, 255, 1);
$active-hover-color:rgba(0, 133, 255, 1);
$active-active-color:rgba(0, 108, 207, 1);
$gray-bg-color:rgba(245, 245, 250, 1);
$gray-bg-alt-color:rgba(237, 237, 247, 1);
$gray-bg-text-color:rgba(179, 179, 186, 1);
$gray-separator-color: rgba(230, 230, 240, 1);
$gradient-regular: linear-gradient(135deg, rgba(50, 50, 100, 1) 33.3%,rgba(50, 50, 100, 1) 33.3%, rgba(165, 75, 95, 1));
$gradient-soft:  linear-gradient(45deg, rgba(50, 50, 100, 1) 33.3%, rgba(50, 50, 100, 1) 33.3%, rgba(122, 66, 94, 1));
$gradient-rd: linear-gradient(135deg, rgba(240, 20, 90, 1) 50%, rgba(105, 50, 100, 1));
$gradient-supersoft: linear-gradient(45deg, rgba(100, 62, 114, 1) 33%, rgba(50, 50, 100, 1) 33%, rgba(50, 50, 100, 1));
$gradient-rd-text: linear-gradient(to right, rgba(240, 20, 90, 1) 50%, rgba(239, 128, 128, 1));


$second-color: #161618;
$mute-color: #313136;
$main-text-color: rgba(255, 255, 245, .86);
$second-text-color: rgba(235, 235, 245, .6);
$hero-name-background: linear-gradient(120deg, #bd34fe 30%, #41d1ff);
$brand-color: #646cff;
$brand-light-color: #747bff;

$base-fz: 16px;
$base-lh: 1.2; 
$base-ff: "Montserrat", sans-sarif;

$hero-fz-large: 38px;
$hero-fz-small: 30px;
 
